@font-face {
  font-family: "Chemvre Personal Use Only";
  font-style: normal;
  font-weight: 400;
  src: local("Chemvre Personal Use Only"),
    url("https://fonts.cdnfonts.com/s/30388/Chemvre Personal Use Only.woff")
      format("woff");
  font-display: swap;
}

/* Elements */
body {
  font-size: 100%;
  background-color: #000000;
}

p {
  color: white;
  font-family: Helvetica;
  font-size: 1.25rem;
  font-weight: 300;
}

h1,
h2 {
  color: #b62f36;
  font-family: Georgia;
  text-align: center;
}

h3 {
  color: #b62f36;
  font-family: Georgia;
  font-style: italic;
}


.Response {
  color: white;
  font-size: 40px;
  font-family: Georgia;
  text-align: center;
}

footer {
  background-color: #b62f36;
  height: 80px;
  margin-top: 5%;
  width: 100%;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

video:hover {
  cursor: pointer;
}

label {
  color: white;
  font-style: italic;
}

input {
  margin-top: 1.5%;
}

input,
textarea {
  background-color: rgba(83, 86, 90, 0.5) !important;
  color: white !important;
}

input:hover,
textarea:hover {
  background-color: rgba(193, 190, 181, 0.5) !important;
  color: white !important;
}

textarea:focus,
input:focus {
  background-color: rgba(193, 190, 181, 0.5) !important;
  border-color: #c12d34 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1) !important;
}

/* Classes */

.carousel-item {
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gallery {
  padding: 80px, 0;
}

.section-header {
  background: radial-gradient(rgba(83, 86, 90, 0.5) 0%, rgba(0, 0, 0) 70%);
  padding: 20px;
  margin-top: 80px;
}

.footer {
  color: black;
  font-weight: 500;
  margin-left: 5%;
}

.gmap-canvas {
  height: auto;
  width: 100%;
  margin: 0 !important;
  padding: 2% !important;
}

.contact-us-box {
  padding: 2%;
}

.contact-details {
  font-size: small;
  font-weight: 700;
}

.contact-label {
  color: #c12d34;
}

.gallery-item:hover {
  filter: brightness(150%);
}

.contact-card {
  background-image: url("images/bikes/form-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  opacity: 0.8;
  border: 0;
}

.gallery-border {
  margin: 0;
  padding: 2px;
}

.form-border {
  border-style: outset;
  border-color: #b62f36;
  border-width: thick;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navbar-brand {
  padding: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

.nav-link {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-item:hover {
  background-color: #b62f36;
  color: rgba(255, 255, 255) !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255) !important;
}

/* IDs */

#about-us {
  margin-top: 0;
}

#contact-us-container {
  display: flex;
  justify-content: space-between;
}

#gmap-canvas {
  width: 100% !important;
  height: 70% !important;
  padding-top: 2% !important;
}

#contact-us {
  color: white;
}

#button-styling {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

#submitButton {
  background-color: #b62f36 !important;
  border: 0;
}

#submitButton:hover {
  transform: scale(1.2);
  border-color: #c12d34 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1) !important;
}

#brand-name {
  padding-left: 12px;
  font-family: "Chemvre Personal Use Only";
  font-size: 35px;
  text-decoration: underline;
  text-decoration-color: #b62f36;
  text-underline-offset: 2px;
  text-decoration-thickness: 4px;
  margin-bottom: 0;
}

#brand-name-p {
  font-family: "Chemvre Personal Use Only";
  text-decoration: underline;
  text-decoration-color: #b62f36;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
  margin-bottom: 0;
}

/* Mixed */

#gallery-modal .modal-img {
  width: 100%;
}

.gallery img {
  cursor: pointer;
}

@media (min-width: 992px) {
  .header {
    display: flex;
    flex-direction: center;
    justify-content: center;
  }
  .boxes {
    display: flex;
    justify-content: center;
  }
  .modal-dialog {
    margin-top: 15%;
  }

  #brand-name-p {
    font-size: 25px;
  }

  #last-image {
    margin: 0;
    padding: 0;
  }
  .modal-body {
    margin: 0;
    padding: 0;
  }
  .modal-content {
    padding: 10px;
    margin: 0;
  }
  #gallery-outline {
    border-style: outset;
    border-color: #b62f36;
    border-width: thick;
  }
  #second-paragraph {
    display: flex;
    margin-top: 80px;
  }

  #third-paragraph {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
  }
  .video1 {
    width: 292%;
    height: auto;
    margin-top: 3%;
    padding-left: 3%;
  }

  .video2 {
    width: 155%;
    height: auto;
    margin-top: 3%;
    padding-right: 3%;
  }

  video {
    height: auto !important;
    width: 100% !important;
  }
  #contact-store {
    flex-basis: 25%;
  }

  #contact-text {
    flex-basis: 45%;
  }

  #contact-map {
    flex-basis: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Elements */

  p {
    font-size: 1.1rem;
    font-weight: 200;
  }

  video {
    height: auto !important;
    width: 100% !important;
  }

  /* Classes */

  .descriptions {
    margin-top: 60px;
  }

  .header {
    display: flex;
    flex-direction: center;
    justify-content: center;
  }

  .boxes {
    display: flex;
    justify-content: center;
  }

  .modal-dialog {
    margin-top: 30%;
  }

  .modal-body {
    margin: 0;
    padding: 0;
  }

  .modal-content {
    padding: 7px;
    margin: 0;
  }

  .video2 {
    order: 1;
    width: 100%;
    height: auto;
  }

  .video1 {
    width: 100%;
    height: auto;
  }

  /* IDs */

  #brand-name-p {
    font-size: 23px;
  }

  #last-image {
    margin: 0;
    padding: 0;
  }

  #gallery-outline {
    border-style: outset;
    border-color: #b62f36;
    border-width: thick;
  }

  #third-paragraph {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  #third-p-order-2 {
    order: 2;
  }

  #contact-store {
    visibility: hidden;
    flex-basis: 0%;
  }
  #contact-text {
    flex-basis: 60%;
  }

  #contact-map {
    flex-basis: 40%;
  }

  #gmap-canvas {
    width: 100% !important;
    height: 50% !important;
    padding-top: 2% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Elements */

  p {
    font-size: 1.1rem;
    font-weight: 200;
  }

  video {
    height: auto !important;
    width: 100% !important;
  }
  /* Classes */

  .descriptions {
    margin-top: 50px;
  }

  .modal-dialog {
    margin-top: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .modal-body {
    margin: 0;
    padding: 0;
  }

  .modal-content {
    padding: 5px;
    margin: 0;
  }

  .video2 {
    order: 1;
    width: 100%;
    height: auto;
  }

  .video1 {
    width: 100%;
    height: auto;
  }

  /* IDs */

  #brand-name-p {
    font-size: 22px;
  }

  #last-image {
    margin: 0;
    padding: 0;
  }

  #third-paragraph {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  #third-p-order-2 {
    order: 2;
  }

  #contact-store {
    visibility: hidden;
    flex-basis: 0%;
  }
  #contact-text {
    flex-basis: 60%;
  }

  #contact-map {
    flex-basis: 40%;
  }

  #gmap-canvas {
    width: 100% !important;
    height: 40% !important;
    padding-top: 2% !important;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  /* Elements */
  p {
    font-size: 1rem;
    font-weight: 300;
  }

  video {
    height: auto !important;
    width: 100% !important;
  }

  /* Classes */

  .descriptions {
    margin-top: 40px;
  }

  .modal-dialog {
    margin-top: 80%;
  }

  .container-xs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .gallery-border {
    max-width: 50%;
  }

  .modal-body {
    margin: 0;
    padding: 0;
  }

  .modal-content {
    padding: 4px;
    margin: 0;
  }

  .gallery {
    margin-left: 3%;
    margin-right: 3%;
  }

  .modal {
    max-width: 70%;
    margin-left: 15%;
  }

  .video2 {
    order: 1;
    width: 100%;
    height: auto;
  }

  .video1 {
    width: 100%;
    height: auto;
  }

  /* IDs */

  #brand-name-p {
    font-size: 20px;
  }

  #last-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #third-paragraph {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  #third-p-order-2 {
    order: 2;
  }

  #contact-store {
    visibility: hidden;
    flex-basis: 0%;
  }
  #contact-text {
    flex-basis: 60%;
  }

  #contact-map {
    flex-basis: 40%;
  }
  #gmap-canvas {
    width: 100% !important;
    height: 50% !important;
    padding-top: 2% !important;
  }
}
